body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 20px;
}

#card {
  height: 14rem;
  max-height: 25rem;
}

#image_card {
  height: 29rem;
  max-height: 25rem;
}

.name {
  left: -24px;
  position: relative;
}

.avatar {
  width: 75px;
  height: auto;
  clip-path: circle(33.8% at 50% 50%);
  left: -18px;
}

.card {
  background: #fff;
  color: #282c34;
  border: 1px solid #ececec;
  margin: 10px;
}

.card-body {
  padding: var(--padding-card, 1.5rem);
}

.card hr {
  width: 100%;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
